<%- include('./partials/head', { section: "introduction", loggedIn, isAdmin }) %>
<div class="container">
    <h1>Introduction</h1>
    <div class="row">
        <div class="col">
            <p>
                Welcome to Ant's PL Quiz for 2021/2022. Entry to play the game will cost £10 with all funds going into
                the winners prize fund.
            </p>

            <p>
                <strong>Prizes:</strong>
            <ul>
                <li>Winner: £100</li>
                <li>2nd: £50</li>
                <li>3rd: £20</li>
                <li>4th: £10</li>
            </ul>
            </p>

            <p>
                <strong>Deadlines:</strong>
                Please note all questions have set deadlines that are non negotiable. If you miss a deadline you will
                forfeit the right to answer the question.
            </p>

            <p>
                <strong>Points:</strong>
                Every question will display the max points on offer. Other points criteria will be set within the
                question description and will be allocated to the correct answers after a question has been marked.
            </p>
            <p>
                <strong>Multiple Choice Questions:</strong>

                A question that allows more than one selection will display a maximum points total. This is the overall
                award for the question. You do not have to get all selections correct to win points.

                E.g. A question might allow 4 answers where each selection gives 10 points therefore a player could get
                half right and be awarded 20 points.
            </p>

            <p>
                <strong>Bonus Chips:</strong>

                Every player will have the chance to play the following chips:

                Chips are given as one of each per player and multiple chips can't be played on the same question.

                Please note: Bonus chips won't be available until later in the quiz.
            <ul>
                <li>Free Hit: When played, the chip will ensure that if the given answer is incorrect then the player
                    will not incur any points deduction*.
                </li>
                <li>Go big or go home: This chip allows the player to have points doubled.</li>
            </ul>
            *not all questions have points deductions.
            </p>

            <p>
                Finally thanks all for playing and good luck.
            </p>
        </div>
    </div>
</div>
<%- include('./partials/foot') %>