<!doctype html>

<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <link href="/bootstrap/bootstrap.min.css" rel="stylesheet">

  <title>Ant's Premier League Quiz<%= typeof title != 'undefined' ? ' - ' + title : '' %></title>
<meta name="description" content="Ant's Premier League Quiz">
</head>
<body>