<%- include('../partials/head') %>
<body>
	<div class="container">
		<h1>Admin</h1>
		<div class="row">
			<div class="col">
				<ul>
					<li><a href="/admin/questions">Questions</a></li>
				</ul>
			</div>
		</div>
	</div>
<%- include('../partials/foot') %>