<%- include('../partials/head', { loggedIn: true, section: "admin" }) %>
	<div class="container">
		<h1>Admin</h1>
		<div class="row">
			<div class="col">
				<ul>
					<li><a href="/admin/questions">Questions</a></li>
					<li><a href="/admin/users">Users</a></li>
				</ul>
			</div>
		</div>
	</div>
<%- include('../partials/foot') %>